:root {
  --color-base-bg: hsl(216, 12%, 8%);
  --color-base-text: hsl(217, 12%, 63%);
  --color-base-footer: hsl(25, 97%, 53%);
  --color-base-footer-link: hsl(141, 71%, 48%);

  --color-orange500: hsl(7, 88%, 67%);
  --color-orange700: hsl(7, 71%, 60%);
  --color-gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

/* --- GLOBAL RESET --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- */
/* -------------------- */

/* --- FONT --- */

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400; /* Regular (default) */
  padding: 15px;
  margin-top: 70px;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  background: url("/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg")
      no-repeat bottom left fixed,
    url("/assets/images/pattern-squiggly-line-top.svg") no-repeat 100% 2%,
    url("/assets/images/pattern-lines.svg") no-repeat top center fixed,
    url("/assets/images/logo-full.svg") no-repeat 50% 4%,
    url("/assets/images/background-mobile.png") no-repeat center center fixed;

  background-size: contain, 100px auto, contain, 150px auto, cover;
  position: relative;
}

.intro__heading {
  color: white;
}

.intro__subtitle {
  color: white;
}

/* -------------------- */
/* -------------------- */

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-footer);
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-footer-green); */
  text-decoration: none;
  color: var(--color-base-footer-link);
}

.fa-github {
  /* color: var(--color-base-footer-green); */
  margin-left: 0.5rem;
}

/* -------------------- */
/* -------------------- */

/* --- MEDIA QUERIES --- */
@media screen and (min-width: 768px) {
}

/* -------------------- */
/* -------------------- */
