:root {
  --color-base-bg: hsl(216, 12%, 8%);
  --color-base-text: hsl(217, 12%, 63%);
  --color-base-footer: hsl(25, 97%, 53%);
  --color-base-footer-link: hsl(141, 71%, 48%);

  --color-orange500: hsl(7, 88%, 67%);
  --color-orange700: hsl(7, 71%, 60%);
  /* --color-gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%); */

  --color-neutral0: hsl(0, 0%, 100%);
  --color-neutral300: hsl(252, 6%, 83%);
  --color-neutral500: hsl(245, 15%, 58%);
  --color-neutral700: hsl(245, 19%, 35%);
  --color-neutral900: hsl(248, 70%, 10%);

  --gap: 1rem;
  --gap-field: 0.5rem;
  --padding: 1rem;
  --margin-top: 1rem;
  --border: 2px solid rgba(255, 255, 255, 0.3);
  --border-radius: 10px;
  --background-color: rgba(74, 9, 204, 0.15);
}

/* --- GLOBAL RESET --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -------------------- */
/* -------------------- */

/* --- FONT --- */

body {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400; /* Regular (default) */
  font-size: 1rem;
  /* line-height: 1.5; */

  padding: 15px;
  margin-top: 70px;

  display: grid;
  /* grid-template-rows: auto auto; */
  min-height: 100vh;

  background: url("../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg")
      no-repeat bottom left,
    url("../assets/images/pattern-squiggly-line-top.svg") no-repeat 100% 2%,
    url("../assets/images/pattern-lines.svg") no-repeat top center fixed,
    url("../assets/images/logo-full.svg") no-repeat 50% 4%,
    url("../assets/images/background-mobile.png") no-repeat center center fixed;

  background-size: 270px auto, 100px auto, contain, 150px auto, cover;
  position: relative;

  color: white; /* temporary */
}

/* -------------------- */
/* -------------------- */

/* --- Main: Coding-conf Hero --- */

.coding-conf__hero {
  display: grid;
  margin-bottom: 2rem;

  /* border: 1px solid blue; */
}

.coding-conf__title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
  width: 90%;

  place-self: center;
  /* border: 1px solid red; */
}

.coding-conf__subtitle {
  color: var(--color-neutral300);
  line-height: 1.2;
  text-align: center;
  width: 90%;

  place-self: center;

  /* border: 1px solid pink; */
}

/* -------------------- */
/* -------------------- */

/* --- Main: Coding-conf Form --- */

/* The Full Form */
.coding-conf__form {
  display: grid;
  gap: var(--gap);

  /* border: 1px solid red; */
}

/* Every Label (Full Name, Email adress, etc...) */
.coding-conf__label {
  font-family: inherit;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

/* Every Input */
.coding-conf__input {
  border: var(--border);
  background-color: var(--background-color);
  height: 50px;
  border-radius: var(--border-radius);
  padding: var(--padding);
  font-family: inherit;

  color: white;
  font-size: 1.1rem;
}

.coding-conf__input::placeholder {
  color: var(--color-neutral500);
  font-size: 1.1rem;
  /* letter-spacing: 1px; */
}

/* Every field */
.coding-conf__field {
  display: grid;
  gap: var(--gap-field);

  /* border: 1px solid yellow; */
}

/* -------------------- */
/* -------------------- */

/* --- Main: Coding-conf Form: Avatar --- */

.coding-conf__field--avatar {
  display: grid;
  gap: var(--gap-field);
  margin-bottom: 0.5rem;

  /* border: 1px solid white; */
}

/* Container of the border*/
.coding-conf__uploader {
  border: 2px dashed rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  padding: var(--padding);
  background-color: rgba(74, 9, 204, 0.15);
  gap: var(--gap);
}

/* Container of our upload icon (label) */
.coding-conf__uploader-label {
  display: grid;
  gap: var(--gap);
}

/* The icon */
.coding-conf__uploader-icon {
  padding: var(--padding);
  border-radius: var(--border-radius);

  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(207, 183, 183, 0.15);

  place-self: center;
  cursor: pointer;
}

.coding-conf__uploader-text {
  display: block;
  place-self: center;
  font-size: 1.1rem;
  color: var(--color-neutral500);
}

/* Adding the (!) logo before the "note" */
.coding-conf__note::before {
  position: relative;
  content: url(../assets/images/icon-info.svg);
  top: 20%;
}

/* This is the "note" */
.coding-conf__note {
  color: var(--color-neutral500);
  font-size: 0.75rem;
  position: relative;
}

/* Button */
.coding-conf__btn {
  margin-top: var(--margin-top);
  height: 50px;
  background-color: var(--color-orange500);
  border-radius: var(--border-radius);
  border: none;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;

  cursor: pointer;
}

/* -------------------- */
/* -------------------- */

/* --- FOOTER --- */

.footer {
  margin-top: auto;
  text-align: center;
  color: var(--color-base-footer);
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.footer a {
  /* color: var(--color-base-footer-green); */
  text-decoration: none;
  color: var(--color-base-footer-link);
}

.fa-github {
  /* color: var(--color-base-footer-green); */
  margin-left: 0.5rem;
}

/* -------------------- */
/* -------------------- */

/* --- MEDIA QUERIES --- */
@media screen and (min-width: 768px) {
  body {
    grid-template-rows: repeat(2, auto);

    background-size: 470px auto, 300px auto, contain, 150px auto, cover;
  }
  .coding-conf {
    display: grid;
  }

  .coding-conf__form {
    place-self: center;
    width: 40%;
  }
}

/* -------------------- */
/* -------------------- */
